/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

$feature-color: #4C4C4C;

.section-three {
  // WHY ADELIE?
  .feature-description {
    color: $feature-color;
    padding: 1rem;
    h4 {
      font-weight: bold;
    }
  }
}

.features-list{
  // background-color: $primary-color;
  .feature {
    color: white;
    padding: 10px;
    h4 {
      color: $primary-color;
      font-weight: bold;
    }
    p{
      color: $feature-color;
      font-size: 1rem;
    }
  }
}