/*********************************/
/******* Home: Section One *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

.section-one {
  // @include cover-bg('../img/cat.png', 50%, 80%);
  // color: $darkgray;
  background-color: $primary-color;
  color: $white;
  text-align: center;
  padding: 2rem;
  // adelie
  h1 {
    font-family: $corporate_e;
    margin-bottom: 2rem;
  }

  @include breakpoint(large up) {
    height: 20rem;
    padding-top: 5em;
  }
}