/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

$feature-color: #4C4C4C;

.section-three {
  padding-top: 1rem;
  background-color: $primary-color;
  box-shadow: 0px 3px 5px 0px black;
  margin-bottom: 1rem;
  z-index: 5;

  .feature-description {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-size: 3rem;
    color: $white;
    background-color: darken($primary-color, 10);
    box-shadow: 0px 3px 5px 0px black;
  }
}

.features-list{
  // background-color: $primary-color;
  .feature {
    color: white;
    h4 {
      font-weight: bold;
    }
    p{
      font-size: 1rem;
    }
  }
}