/*********************************/
/******* Home: Section One *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

.outer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.section-one {
  //bg
  @include cover-bg('../img/bg.jpg', 50%, 90%);
  .inner-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;

    h1, p {
      padding: 0.5rem;
      color: $white;
      background-color: rgba(0,0,0,0.5);
    }

    p {
      font-size: 1.4rem;
    }

    a {
      font-size: 1.2rem;
      padding: 1rem;
      font-weight: bold;
    }

    //adelie
    h1{
      justify-content: center;
      align-items: center;
      font-family: $corporate_e;
      margin-bottom: 1rem;
      font-size: 5rem;
      letter-spacing: -0.2rem;
      padding: 1rem;
    }
  }

  // background-color :$primary-color;

  // LEARN MORE
  a {
    margin-top: 1rem;
    border: 1px solid lighten($primary-color, 15);
    border-radius: 0px;
    color: white;
    background-color: darken($primary-color, 5);
    &:hover {
      background-color: darken($primary-color, 15);
    }
  }

  @include breakpoint(medium up) {
  }
  @include breakpoint(large up) {
    height: 40rem;
  }
}