/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

$service-color: #4C4C4C;

.section-two {

  // WHY ADELIE?
  .service-description {
    color: $service-color;
    padding: 1rem;
    h4 {
      font-weight: bold;
    }
  }

  .service-header {
    font-weight: bold;
    color: $service-color;
    margin: 2rem;
  }

  .service-subheader{
    margin: 2rem;
    font-size: 1.3rem;
  }
}

.services-list{
  // background-color: $primary-color;
  .service {
    color: white;
    padding: 10px;
    h4 {
      color: $primary-color;
      font-weight: bold;
    }
    p{
      color: $service-color;
      font-size: 1rem;
    }
  }
}