/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

.section-four {
  z-index: 0;
  @include breakpoint(small only) {
    background-color: $white;
  }
  @include breakpoint(medium up) {
    @include cover-bg('../img/desk.jpg', 70%, 90%);
  }
  .columns{
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 3px 3px 0px black;
    border: 1px solid black;
    padding: 2rem;
  }
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
