/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

$feature-color: #4C4C4C;

.section-three {
  padding: 1rem;
}

  .features-list{
    .feature-description {
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 0.5rem;
      font-weight: bold;
      color: $darkgray;
    }
  .feature {
    color: $darkgray;
    h4 {
      @include breakpoint(small only) {
        font-weight: bold;
      }
    }
    p{
      font-size: 1rem;
    }
  }
}

