/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

$service-color: #4C4C4C;

.section-two {
  i {
    color: $primary-color;
    padding-bottom: 1rem;
  }

  // Margin 
  margin-top: 0;
  max-width: 100%;
  width: 100%;
  padding-top: 1rem;
  border-top: 5px solid $primary-color;

  // WHY ADELIE?
  .service-description {
    color: $service-color;
    padding: 1rem;
    h4 {
      font-weight: bold;
    }
  }

  .service-header {
    font-weight: bold;
    color: $service-color;
    margin: 2rem;
  }

  .service-subheader{
    margin: 2rem;
    font-size: 1.3rem;
  }
}

.services-list{
  // background-color: $primary-color;
  // WEB DESIGN, WEB DEV
  .service {
    color: white;
    padding: 10px;
    h4 {
      // color: $primary-color;
      color: $service-color;
      font-weight: bold;
    }
    p{
      color: $service-color;
      font-size: 1rem;
    }
  }
}