/*********************************/
/******* Home: Section One *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

.outer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.section-one {
  //bg
  @include breakpoint(medium up) {
    @include cover-bg('../img/bg.jpg', 50%, 90%);
  }

  @include breakpoint(small only) {
    background-color: $primary-color;
  }
  .inner-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    @include breakpoint(small up) {
      align-items: center; 
    }
    @include breakpoint(medium only) {
      text-align: center;
    }
    @include breakpoint(large up) {
      align-items: flex-start;
    }

    h1, p {
      color: $white;
      padding: 0.5rem;
      padding-top: 0rem;
      padding-bottom: 0.1rem;

      @include breakpoint(medium up) {
        background-color: rgba(0,0,0,0.5);
      }
    }

    p {
      font-size: 1.4rem;
    }

    a {
      font-size: 1.2rem;
      padding: 1rem;
      font-weight: bold;
      
      @include breakpoint(small only) {
        margin-left: 1rem;
      }        
    }

    //adelie
    h1{
      line-height: 4rem;
      justify-content: center;
      align-items: center;
      font-family: $corporate_e;
      margin-bottom: 1rem;
      letter-spacing: -0.2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      @include breakpoint(medium only) {
       margin-top: 2rem; 
      }
      @include breakpoint(small only) {
        font-size: 5rem;
      }
      @include breakpoint(large up) {
        font-size: 5rem;
      }
    }
  }

  // background-color :$primary-color;

  // LEARN MORE
  a {
    margin-top: 1rem;
    color: white;
    background-color: darken($primary-color, 5);
    &:hover {
      background-color: darken($primary-color, 15);
    }
  }

  @include breakpoint(medium up) {
  }
  @include breakpoint(large up) {
    height: 40rem;
  }
}