/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

.section-four {
  z-index: 0;
  box-shadow: 0px -3px 5px 0px gray;
  @include breakpoint(small only) {
    background-color: $white;
  }
  @include breakpoint(medium up) {
    @include cover-bg('../img/desk.jpg', 70%, 90%);
  }
  .columns{
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 3px 3px 0px black;
    border: 1px solid black;
    padding: 2rem;
  }

  .cta {
  
    @include breakpoint(medium up) {
      width: 40%;
      margin: auto;
      padding: 1.5rem;
      background-color: #fff;
      border: 5px solid $web-blue;
    }

    i {
      color: $web-blue;
    }
    a#request-quote {
      font-weight: bold;
      background-color: $web-blue;
      &:hover {
        background-color: lighten($web-blue, 15);
      }
    }

    box-shadow: 0px 3px 3px 0px $darkgray;
  }
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
