/************************/
/******* About SCSS *****/
/************************/

.about-container {
@include breakpoint(small only) {
  padding-top: 0rem;
  padding-bottom: 2rem;
}
@include breakpoint(medium up) {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
  .mission-statement {
    padding-top:4rem;
    padding-bottom:4rem;
    h2{
      font-weight: bold;
      font-family: $corporate_e;
    }
  }

  .about-subheader{
    padding: 3rem;
    h4{

    }
  }
  
  .logo{
    width: 250px;
    margin: auto;
    h1 {
      font-family: $corporate_e;
      letter-spacing: -3px;
      font-size: 4rem;
    }
  }

  span.about-highlight {
    color: $web-blue;
  }

  .reason {
    text-align: center;

    h4 {
      font-weight: bold;
    }
    i {
      color: $web-blue;
      padding: 1rem;
    }
  }
  a.about-button {
    background-color: $web-blue;
  }
}