/**************************
** Case Study Section SCSS
**************************/

.case-study-header {
  max-width: inherit;
  min-height: 80vh;
  border-bottom: 3px solid #e3e3e3;
  padding: 4rem;
  background-color: #e3e3e3;
  .case-study-title-container {
    @include breakpoint(medium only){
      text-align: center;
    }
    @include breakpoint(medium up){
      padding: 3rem;
      text-align: center;
    }
    .case-title{
      font-family: $corporate_e;
    }
  }
  /*.case-study-image-container {*/
    /*padding: 3rem;*/
  /*}*/
  .case-thumbnail-container {
  }
  
  .case-thumbnail {
  }
  .case-study-description {
  }
}

.empty-case-container {
  margin-bottom: 4rem;
}

.case-study-container{
  .row{ margin-bottom: 1.5rem;}
}

.cta-row {
  padding-top: 2rem;
  position: relative;
  background-color: $web-blue;
  /*background-color: $web-blue;*/
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 400px;
  margin-left: 0;
  margin-right: 0;
  canvas {
    max-height: 400px;
    /*position: relative;*/
    /*bottom: 400px;*/
    z-index: 0;
  }
}


// CREATE.BLADE.PHP
.case-form-container{
  padding: 4rem;
  width: 80%;
  @include breakpoint( small only ) {
    width: 90%;
  }
  margin: auto;
  .case-form{

  }
}

// PHASES
.phase {
  padding: 1rem;
  padding-top: 2rem;
  .phase-icon {
    color: $web-blue;
  }
  .title {
    font-family: $corporate_e;
    font-variant: small-caps;
  }
  .subtitle {
    font-family: $raleway;
  }
  .phase-description {
     
  }
}

// CTA box
.cases-cta {
  background-color: rgba(29, 29, 29, 0.5);
  background-size: cover;
  color: white;
  padding: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
