/**************************
** Case Study Section SCSS
**************************/

.case-study-header {
  min-height: 50vh;
  border-bottom: 3px solid #e3e3e3;
  padding: 3rem;
  background-color: blue;
  .case-study-title-container {
    padding: 3rem;
  }
  .case-study-image-container {
    padding: 3rem;
  }
}


// CREATE.BLADE.PHP
.case-form-container{
  padding: 3rem;
  width: 80%;
  @include breakpoint( small only ) {
    width: 90%;
  }
  margin: auto;
  .case-form{

  }
}
