/*****************************/
/******* Contact SCSS ********/
/*****************************/

.contact-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .contact-header {
    h1 {
      font-weight: bold;
      color: $web-blue;
    }
    text-align: center;
  }
  input[type=submit]{
    background-color: $web-blue;
    &:hover {
      
    }
  }
}

