/*********************/
/****** SERVICES *****/
/*********************/

// Small

.small-hero {
  text-align: center;
  padding-bottom: 1.0rem;
  padding-top: 2rem;
}

.service-hero {
  padding-top: 7rem;
  padding-bottom: 7rem;
  border-bottom: 3px solid $web-blue;

  .service-hero-inner {
    h1, h2, p {
      display: inline-block;
      background-color: rgba(0,0,0,0.3);
      color: white;
      padding: 1rem;
    }

    a {
      text-decoration: underline;
      color: lighten($primary-color, 15);
    }
  }
}

.main-service-section {
  margin-bottom: 3rem;
  padding: 3rem !important;
  background-color: #fff;
}

.webdev-hero{
  @include breakpoint($medium-up) {
    @include cover-bg-nofixed('../img/webdev-bg.jpg', 70%, 50%);
  }
}
.branding-hero{
  @include breakpoint($medium-up) {
    @include cover-bg('../img/branding-bg.jpg', 70%, 80%);
  }
}
.graphicdesign-hero{
  @include breakpoint($medium-up) {
    @include cover-bg-nofixed('../img/graphicdesign-bg.jpg', 70%, 50%);
  }
}

.services-nav {
  li {

    background-color: $primary-color;
    &#current-service {
      padding-right: 0.5rem;
    }

    &:not(#current-service){
      padding: .2rem;
      padding-left: 0.5rem;
    }

    .is-down-arrow > a::after {
      border-color: $primary-color;
    }

    a{
      color: white;
    }

    &:hover {
      background-color: lighten($primary-color, 15);
    }

  }
}

$service-bg-color: #f0f2f1;
.service-container {
  background-color: $service-bg-color;
  @include breakpoint(small only) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include breakpoint(medium up) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .process {
    background-color: #fff;
    padding: 2rem !important;
    b{
      color: $web-blue;
    }
    @include breakpoint(medium up) {
      margin-bottom: 3rem; 
    }
  }
  .process-title{
    h2{
      font-size: 3rem;   
    }
    text-align: center;
    @include breakpoint(small only) {
      margin-top: 3rem; 
    }
    margin-bottom: 3rem;
    h4 {
      color: darken($service-bg-color, 45);
    }
  }
  .anchor-item{
    padding-top: 4rem;
    margin-top: -4rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  // subheading
  h2, h4 {
    color: $primary-color;
  }

  .webdev-process {
    strong, b, li.success {
      color: $web-blue;
    }
  }

  .cta-box {
    background-color: $white;
    h2{
      font-weight: bold;
      color: $web-blue;
    }
    text-align: center;
  }

  .boxed {
    padding: 1rem;
    // These aspects should only work on larger screen sizes
    @include breakpoint(medium up) {
      border: 1px solid lightgray;
      box-shadow: 0px 3px 3px 0px gray;
    }
  }
}
