/********************************/
/* Site-Wide Configs & Settings */
/********************************/

// Fonts
$corporate_e: 'corporate-e', sans-serif;
$raleway: 'raleway', sans-serif;

// Colors
$primary-color: #3A539B;
$background-color: #272727;
$white: #ffffff;
$darkgray: #252525;

// Resets % Page-Wide Configuration
html {
  font-size: 18px;
  height: 50rem;
}

// Foundation overrides
.title-bar {
  background-color: $background-color;
}

// A little sliver at the top, for a bit more pizazzzzz
.color-bar {
  height: 0px;
  width: 100%;
  @include breakpoint(medium up) {
    background-color: darken($primary-color, 5%);
    position: absolute;
    top: 0px;
  }
}

.top-bar {
  top: 0;
  background-color: $primary-color;
  ul { background-color: transparent;}
  ul li a {
    font-family: $raleway;
    padding: 0;
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  ul.submenu {
    background-color: $primary-color !important;
    border: 0px !important;
    li:hover {
      background-color: lighten($primary-color, 10%) !important;
      position: relative;
    }
  }
  padding: 0px;
  padding-bottom: 0.2rem;
}

// Adelie
.navbar-logo {
  font-weight: normal;
  background-color: transparent;
  font-family: $corporate_e;
  color: $white;
  font-size: 2rem;
  letter-spacing: -0.05em;
}

@mixin cover-bg($img, $x-pos, $y-pos) {
  background: url($img) #DCDCDC no-repeat $x-pos $y-pos fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}