/********************************/
/* Site-Wide Configs & Settings */
/********************************/

// Foundation configuration
$include-xl-html-grid-classes: true;

$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1440px,
  xxlarge: 1920px,
);

// Fonts
$corporate_e: 'corporate-e', sans-serif;
$raleway: 'raleway', sans-serif;

// Colors
$web-blue: #3A539B;
$branding-red: #9c3a52;
$primary-color: #292929;
$background-color: #272727;
$white: #ffffff;
$darkgray: #252525;

// Resets % Page-Wide Configuration
html {
  font-size: 18px;
  height: 100%;
}

body {
  font-family: 'raleway', sans-serif;
}

// Foundation overrides
.title-bar {
  background-color: $background-color;
}

.top-bar {
  top: 0;
  background-color: $primary-color;
  box-shadow: 0px 3px 3px 0px darken($primary-color, 10);
  ul { background-color: transparent;}
  ul li a {
    font-family: $raleway;
    padding: 0;
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .top-bar-right {
    .is-drilldown {
      @include breakpoint(medium up) {
        display: none;
      }
    }
  }

  .small-nav {
    @include breakpoint(medium up) {
      display: none;
    }
  }

  ul.submenu {
    background-color: $primary-color !important;
    border: 0px !important;
    li:hover {
      background-color: lighten($primary-color, 10%) !important;
      position: relative;
    }
  }
  padding: 0px;
  padding-bottom: 0.3rem;

  .small-nav {
    padding-left: 2rem;
    li {
      padding-top: 3px;
      padding-bottom: 3px;
      border-bottom: 1px solid darken($web-blue, 7);
    }
  }
}

.button {
  background-color: $darkgray;
}

// Adelie
.navbar-logo {
  font-weight: normal;
  background-color: transparent;
  font-family: $corporate_e;
  color: $white;
  font-size: 2rem;
  letter-spacing: -0.05em;
}

@mixin cover-bg($img, $x-pos, $y-pos) {
  background: url($img) #DCDCDC no-repeat $x-pos $y-pos fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin cover-bg-nofixed($img, $x-pos, $y-pos) {
  background: url($img) #DCDCDC no-repeat $x-pos $y-pos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$footer-color: #4C4C4C;

// Footer
footer{
  border-top: 3px solid lighten($footer-color, 10);
  text-align: center;

  .footer-body {
    background-color: $footer-color;
    padding: 1rem;
    @include breakpoint(small only) {
      min-height: 0rem;
    }
    @include breakpoint(medium up) {
      min-height: 16rem;
    }
    h2, span, i, ul li, ul li a, span a {
      color: $white;
      &:visited{
        color: $white;
      }
    }
  }

  // Left-side Footer
  .footer-body:nth-child(1){
    .footer-logo {
      font-family: $corporate_e; 
      color: white;
    }
  }

  // Middle-side Footer
  .footer-body:nth-child(2){
    //
  }


  .footer-end{
    @include breakpoint(small only) {
      text-align: center;
      padding: 0.8rem 1rem;
    }
    @include breakpoint(medium up) {
      text-align: right;
    }
    border-top: 1px solid $web-blue;
    background-color: #333333;
    h4 {
      padding: 1rem;
      margin-bottom: 0px;
      color: white;
      font-family: $raleway;
    }
    i {
      font-size: 1.3rem;
      color: $web-blue;
    }
  }
}

.thankyou {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

