/*************************/
/* Custom SCSS For the app.
/*************************/

// Utility Classes
.section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  p {
    font-size: 0.9rem;
  }
}

@import '_vendor';
@import '_settings',
        '_service';

/*********************************/
/******* SECTION IMPORTS *********/
/*********************************/

@import 'home_sections/_section_one',
        'home_sections/_section_two',
        'home_sections/_section_three',
        'home_sections/_section_four';

// Utility Classes
hr.mini-hr {
  max-width: 300px !important;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

ul.lstn {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
