/*************************/
/* Custom SCSS For the app.
/*************************/

// Utility Classes
.section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  p {
    font-size: 0.9rem;
  }
}

@import '_vendor';
@import '_settings';

/*********************************/
/******* SECTION IMPORTS *********/
/*********************************/

@import "home_sections/_section_one",
        "home_sections/_section_two";/*************************/
/* Custom SCSS For the app.
/*************************/

// Utility Classes
h1, h2, h3, h4, h5, h6 {
}
/*************************/
/* Custom SCSS For the app.
/*************************/

// Utility Classes
h1, h2, h3, h4, h5, h6 {
}

/*************************/
/* Custom SCSS For the app.
/*************************/

// Utility Classes
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}