/*********************************/
/******* Home: Section *******/
/*********************************/
// Base PX: 16px;
// 1 REM: 16px;
// 2 REM: 32px;

$service-color: #FFFFFF;

// Quirky sections
.branding-section {
  box-shadow: 0px 3px 3px 0px gray;
}

.section-two {
  background-color: #FFFFFF;

  // Margin 
  margin-top: 0;
  max-width: 100%;
  width: 100%;
  padding-top: 1rem;
  // border-top: 5px solid $primary-color;
  i {
    color: $primary-color;
    padding-bottom: 1rem;
  }
  .web-services{
    i {
    }
    h3, h4 {
      color: white;
    }

    .button {
      color: white;
      background-color: darken($web-blue, 12); 
      &:hover{
        background-color: darken($web-blue, 20); 
      }
    }
    
  }

  .branding-services{
    h3, h4{
      // color: lighten($branding-red, 40);
      color: white;
    }

    .button {
      background-color: darken($branding-red, 10); 
      color: white;
      &:hover{
        background-color: darken($branding-red, 20); 
      }
    }
  }


  // WHY ADELIE?
  .service-description {
    color: $service-color;
    padding: 1rem;
    h4 {
      font-weight: bold;
    }
  }

  .service-header {
    font-weight: bold;
    color: $service-color;
    margin: 2rem;
  }

  .service-subheader{
    margin: 2rem 0.3rem;
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 2rem;
  }
}

.services-list{
  padding-bottom: 2rem;
  i {
    color: white;
  }

  .service {
    color: white;
    padding: 10px;
    h4 {
      font-weight: bold;
    }
    p{
      color: $service-color;
      font-size: 1rem;
    }
  }
}